<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">News</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isMain}}
      <li class="active"><a href="/">Main</a></li>
      {{else}}
      <li><a href="/">Main</a></li>
      {{/if}}

      <li><a>Matches</a></li>

      {{#if isNews}}
      <li class="active"><a href="/news">News</a></li>
      {{else}}
      <li><a href="/news">News</a></li>
      {{/if}}

      {{#if isFans}}
      <li class="active"><a href="/fans">Fans</a></li>
      {{else}}
      <li><a href="/fans">Fans</a></li>
      {{/if}}
      <li><a>Contacts</a></li>

      {{#if isAdmin}}
      <li class="active"><a href="/admin">Admin</a></li>
      {{else}}
      <li><a href="/admin">Admin</a></li>
      {{/if}}
    </ul>
  </div>
</nav>