<main class="comments-section">
  <div class="comments-wrapper">
    <h2>Звернення фанів</h2>
    {{#if comments.length}}
    {{#each comments}}
    <div class="comment-container">
      <p class="flow-text">
        {{commentContent}}
      </p>
      <div class="comment-detail">
        <span>{{createdAt}}</span><span> {{userName}}</span>
      </div>
    </div>
    {{/each}}
    {{else}}
    <h5>No comments yet</h5>
    {{/if}}
  </div>
  {{!-- <form action="/fans" method="POST"> --}}
    <div class="new-comment-container">
      <div class="new-comment">
        <textarea name="commentText" class="new-comment-text" cols="30" rows="10" placeholder="Написати звернення..."
          id="comment-input" required></textarea>
        <button type="submit" id="send-comment" class="new-comment-btn" onclick="handleClick()">
          Send
        </button>
      </div>
    </div>
  {{!-- </form> --}}
</main>
<footer>
  <h3>FOOTER</h3>
</footer>
<script src="/fans.js"></script>